<body>
  <h1>Add a New Course</h1>
  <form class="form new-course-form">
  <div class="form-group row">
    <label for="new-course" class="col-sm-2 col-form-label"> Course Name : </label>
    <div class="col-sm-10">
      <input  type="text" class="form-control" id="new-course" name="new-course" />
    </div>
  </div>
    <div class="form-group row">
    <label for="new-description" class="col-sm-2 col-form-label"> Description: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="new-description" name="new-description">
    </div>
  </div>
    <div class="form-group row">
    <label for="new-department" class="col-sm-2 col-form-label"> Department : </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="new-department" name="new-department">
    </div>
  </div>
    <div class="form-group row">
    <label for="new-semester" class="col-sm-2 col-form-label"> Semester : </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="new-semester" name="new-semester">
    </div>
  </div>
      <div class="form-group row">
    <label for="new-fees" class="col-sm-2 col-form-label"> Fees : </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="new-fees" name="new-fees">
    </div>
  </div>
  <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
 <script src="/javascript/addcourse.js"></script>

</body>