 
 <div class="card-group">
  {{!-- View Student Profile --}}
    <div class="card">
      <img src="/assets/images/studentprofile.jpg" class="card-img-top" alt="Student-Profile">
      <div class="card-body">
        <h5 class="card-title">Student Profile</h5>
        <p class="card-text">View a summary of students' information, including names, course enrollments, grades, and parent's information.</p>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">View Student Profile</button>
       </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    {{!-- View Student Courses --}}
    <div class="card">
      <img src="images/studentcourses.jpg" class="card-img-top" alt="Student-Courses">
      <div class="card-body">
        <h5 class="card-title">Student Courses</h5>
        <p class="card-text">Access information about the courses enrolled by the students</p>
      </div>
      <div class="d-grid gap-2">
        
        <button class="btn btn-primary" type="button">View Student Courses</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    {{!-- View faculty Profile --}}
    <div class="card">
      <img src="images/faculty.jpg" class="card-img-top" alt="View-faculty-Profile">
      <div class="card-body">
        <h5 class="card-title">Faculty Profile</h5>
        <p class="card-text">Present faculty profiles featuring their names, biographies, positions, and qualifications.</p>
      </div>
      <div class="d-grid gap-2">
        
        <button class="btn btn-primary" type="button">View Faculty Profile</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src= "images/department.jpg" class="card-img-top" alt="department-info">
      <div class="card-body">
        <h5 class="card-title"> Department </h5>
        <p class="card-text">T??????????????????????????????????????????????.</p>
      </div>
      <div class="d-grid gap-2">
        
        <button class="btn btn-primary" type="button">View Department Info</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    
  </div>
    {{> footer}}
<!-- javascript file-->
<script src="/javascript/admin-dashboard.js"></script>