
    <h1 class="mx-5 p-2">Courses for {{selectedSemester.dataValues.semester}}</h1>
    <ul class="list-group ms-5 p-2">
        {{#each courses}}
        <li class="list-group-item list-group-item-action mx-auto p-2.5" style="width: 1200px;"> {{course}} -- {{course_description}}</li>
        {{/each}}
    </ul>

  {{> footer}}
