 <div class="card-group">
    <div class="card">
      <img src="images/department.jpg" class="card-img-top" alt="faculty-profile">
      <div class="card-body">
     <h5 class="card-title">faculty Profile</h5>
        <p class="card-text">Present faculty profiles featuring their names, biographies, positions, and qualifications.</p>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" >View Faculty Profile</button>
       </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
     <img src="images/studentcourses.jpg" class="card-img-top" alt="Student-Courses">
      <div class="card-body">
      <h5 class="card-title">Student Courses</h5>
        <p class="card-text">Access information about the courses enrolled by the students</p>
      </div>
      <div class="d-grid gap-2">
        
        <button class="btn btn-primary" type="button">View Student Courses</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    
  </div>
  {{> footer}}
  <!-- javascript file-->
<script src="/javascript/faculty-dashboard.js"></script>