<div class="container">
<section class="image-body">
  <div class="img-body">
<img class="login-image" src="/assets/images/login.jpg" alt="login Image">
</div>
</section>
<section class="login-card text-center">
    <div class="card-body">
      <h3 class="login-card-title">Login to your Profile!</h3>
      <form id="login">
        <div class="login-label">
          <label for="loginUsername">Username:</label>
          <input type="text" placeholder="username" class="login-input" id="loginUsername">
        </div>
        <div class="login-label">
          <label for="loginPassword">Password:</label>
          <input type="password" placeholder="password" class="login-input" id="loginPassword">
        </div>
        <br/>
        <button class="login-button">Login</button><br>
        <a class="login-link" href="/signup">Signup instead!</a>
      </form>
    </div>
  </section>
  </div>
  {{> footer}}
<script src="/javascript/login.js"></script>





