 <div class="card-group">
    <div class="card">
    <img src="/assets/images/studentprofile.jpg" class="card-img-top" alt="Student-Profile">
      <div class="card-body">
        <h5 class="card-title">Student Profile</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" id="student-profile">View Student Profile</button>
       </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="images/studentcourses.jpg" class="card-img-top" alt="Student-Courses">
      <div class="card-body">
       <h5 class="card-title">Student Courses</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="d-grid gap-2">
        
        <button class="btn btn-primary" type="button" id="student-courses">View Student Courses</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    
  </div>
  {{> footer}}
  <!-- javascript file-->
<script src="/javascript/student-dashboard.js"></script>